body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Cor de fundo preto */
    margin: 0;
    padding: 20px;
    color: #EAEAEA; /* Texto claro para contraste */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção */
}

h1 {
    color: #FFD700; /* Amarelo */
    margin-bottom: 10px;
}

h2 {
    color: #FFD700; /* Amarelo */
    border-bottom: 2px solid #FFD700;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.categoria {
    background: #2A2A2A; /* Fundo das categorias em cinza escuro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 15px;
}

.produto {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 16px;
    color: #EAEAEA; /* Texto claro */
}

input[type="checkbox"], input[type="number"] {
    margin-left: 10px;
    accent-color: #FFD700; /* Para navegadores que suportam */
}

button {
    background-color: #FFD700; /* Amarelo */
    color: #000000; /* Preto para o texto */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #FFC300; /* Amarelo mais claro ao passar o mouse */
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Borda cinza escura */
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    background-color: #2A2A2A; /* Fundo escuro */
    color: #EAEAEA; /* Texto claro */
}

#copy-report {
    background-color: #5CBB5C; /* Verde escuro */
}

#copy-report:hover {
    background-color: #4DAE4D; /* Verde mais claro ao passar o mouse */
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    button {
        width: 100%;
        margin-top: 10px;
    }

    textarea {
        font-size: 12px;
    }
}
